- content_for :page_title do
  Объединения 

%p= link_to 'Создать', new_union_path, class: 'btn btn-primary'
- if @unions.present?
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th Отдел
        %th Создано
        %th Закрыто
        %th.actions
    %tbody
      - @unions.each do |union|
        %tr
          %td= union.name
          %td= union.department.name
          %td= union.started_at
          %td= union.closed_at
          %td.actions
            = link_to edit_union_path(union), class: "btn btn-default btn-round", title: "Редактировать" do
              %i.icon-fa-edit
            = link_to union_path(union), method: :delete, class: "btn btn-danger btn-round", title: "Удалить", data: { confirm: "Are you shure?" } do
              %i.icon-fa-trash-o