- content_for :page_title do
  Объединения 

%p= link_to 'Создать', new_union_path, class: 'btn btn-primary'
- if @unions.present?
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th Создан
        %th Закрыт
        %th.actions
    %tbody
      - @unions.each do |dep|
        %tr
          %td= dep.name
          %td= dep.started_at
          %td= dep.closed_at
          %td.actions
            = link_to edit_union_path(dep), class: "btn btn-default btn-round" do
              %i.icon-fa-edit
            = link_to unions_path(dep), method: :destroy, class: "btn btn-danger btn-round" do
              %i.icon-fa-trash-o