- content_for :page_title do
  Люди 

%p= link_to 'Создать', new_person_path, class: 'btn btn-primary'
- if @people.present?
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th Отдел
        %th Создано
        %th Закрыто
        %th.actions
    %tbody
      - @people.each do |person|
        %tr
          %td= person.name
          %td= person.department.name
          %td= person.started_at
          %td= person.closed_at
          %td.actions
            = link_to edit_person_path(person), class: "btn btn-default btn-round" do
              %i.fa.fa-edit
            = link_to people_path(person), method: :delete, class: "btn btn-danger btn-round", data: { confirm: "Are you shure?" } do
              %i.fa.fa-trash-o