.form-group
  = f.label :name, "Название", class: "control-label col-md-2" 
  .col-md-4 
    = f.text_field :name, class: "form-control"
.form-group
  = f.label :groupable_id, "Кружок/Объединение", class: "control-label col-md-2" 
  .col-md-4
    = f.grouped_collection_select :groupable_id, [ Union, Section ], :all, :human_name, :to_global_id, :name, {}, class: "form-control select2"
    -# f.collection_select :groupable_id, Union.active, :id, :name, {}, class: "form-control select2"
.form-group
  = f.label :subject_id, "Предмет", class: "control-label col-md-2" 
  .col-md-4 
    = f.collection_select :subject_id, Subject.all, :id, :name, {}, class: "form-control select2"
.form-group
  = f.label :timeofday, "Время дня", class: "control-label col-md-2" 
  .col-md-4 
    = f.select :timeofday, options_for_select([["Утро", "morning"], ["Вечер", "evening"]]), {}, { class: "form-control select2" }
