- content_for :page_title do
  Группы 

%p= link_to 'Создать', new_group_path, class: 'btn btn-primary'
- if @groups.present?
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th Кружок/Объединение
        %th Предмет
        %th Год обучения
        %th Время дня
        %th.actions
    %tbody
      - @groups.each do |group|
        %tr
          %td= group.name
          %td= group.groupable.name
          %td= group.subject.name
          %td= ''
          %td= group.time_of_day.try(:name)
          %td.actions
            = link_to edit_group_path(group), class: "btn btn-default btn-round", title: "Редактировать" do
              %i.fa.fa-edit
            = link_to group_path(group), method: :delete, class: "btn btn-danger btn-round", title: "Удалить", data: { confirm: "Are you shure?" } do
              %i.fa.fa-trash-o