.navbar.navbar-default.navbar-top{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { target: ".navbar-collapse", toggle: "collapse" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("Logo.png"), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      .search-side
        %a.show-search{  href: "#" }
          %i.fa.fa-search
        .search-form
          %form{ action: "#", class: "searchform", method: "get", role: "search", autocomplete: "off" }
            %input{ type: "text", placeholder: "Search the site...", id: "search_text", name: "search[text]", value: "" }
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            = link_to "Обучающиеся", '#'
          %li.drop
            = link_to "Справочники", '#'
            %ul.dropdown
              %li= link_to 'Время дня', time_of_days_path
              %li= link_to 'Года обучения', studying_years_path
              %li= link_to 'Группы', groups_path
              %li= link_to 'Дети', children_path
              %li.sup-drop 
                %a{ href: '#' } Орг. структура
                %ul.sup-dropdown
                  %li= link_to 'Кружки', sections_path
                  %li= link_to 'Отделы', departments_path
                  %li= link_to 'Объединения', unions_path
              %li= link_to 'Предметы', subjects_path
              %li= link_to 'Преподаватели', teachers_path
              %li= link_to 'Родители', parents_path
              %li= link_to 'Статусы', social_statuses_path
          - if current_user.role == 'admin'
            %li
              = link_to "Пользователи", users_path
          %li.drop
            %a{href: "#"} Отчеты
            %ul.dropdown
              %li
                %a{href: "#"} По отделам
              %li
                %a{href: "#"} По кружкам
              %li
                %a{href: "#"} По объединениям
          %li= link_to 'Выход', destroy_user_session_path, method: :delete
        - else 
          %li= link_to 'Войти', new_user_session_path
  
