- content_for :page_title do
  Кружки 

%p= link_to 'Создать', new_section_path, class: 'btn btn-primary'
- if @sections.present?
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th Отдел
        %th Создан
        %th Закрыт
        %th.actions
    %tbody
      - @sections.each do |section|
        %tr
          %td= section.name
          %td= section.department.name
          %td= section.started_at.strftime('%d.%m.%Y')
          %td= section.closed_at.try(:strftime, '%d.%m.%Y')
          %td.actions
            = link_to edit_section_path(section), class: "btn btn-default btn-round", title: "Редактировать" do
              %i.icon-fa-edit
            = link_to section_path(section), method: :delete, class: "btn btn-danger btn-round", title: "Удалить", data: { confirm: "Are you shure?" } do
              %i.icon-fa-trash-o