!!! 5
%html
  %head
    %title ДЮЦ - Учебный план
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags

  %body
    #container
      .hidden-header{ style: "height: 86px;" }
      %header.clearfix
        = render partial: 'shared/header'
      .page-banner.no-subtitle  
        = render partial: 'shared/sub_header'
      .sys-notifications
        = render partial: 'shared/flash'
      %section#content
        .container
          = yield
    - if Rails.env.development?
      = debug params
      = debug session.inspect
