!!! 5
%html
  %head
    %title CtcPlan
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags

  %body
    #container
      .hidden-header{ style: "height: 86px;" }
      %header.clearfix
        = render :partial => 'shared/header'
      .page-banner.no-subtitle  
        = render :partial => 'shared/sub_header'
      %section#content
        .container
          = yield
